/* VIEW 404 CSS */

.notfound-image {
    background: url("404.svg") center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}
.notfound-image-wrapper {
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
